body {
	background-color:#123;
}
a {
	text-decoration: none;
	font-size: 1.4rem;
	color: #71c4d6;
	padding: 5px;

}


.container {
	height: 25	0px;
	font-size: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	top: 180px;
	border: 1px solid #71c4d6;
	border-radius: 50px;
	padding: 50px;
}


.clock {
    color: white;
    font-size: 60px;
    letter-spacing: 7px;
	width: 100%;
   
}


.today {
	color: #9bedff;
}

#alarm {
	display: none;
}


.showAlarm {
	display: block;
}


svg {
	color: #71c4d6;
	font-size: 2.5rem;
	margin-top: 10px;
}

select {
	padding: 5px;
	background-color:#123;
	color: #71c4d6;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 99px;
	width: 100px;
}

input {
	padding: 10px;
	cursor: pointer;
	background-color:#71c4d6;
	border-radius: 99px;

}

